<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Camiones</title>
    <script src="Scripts/jquery-3.4.1.js"></script>
    <script src="Scripts/popper.min.js"></script>
    <script src="Scripts/bootstrap.js"></script>


    <style>
       
    </style>

</head>
<body>
    <div class="wrapper">


        <div class="sidebar-header">
            <h3>Tramesquirn S.A</h3>

        </div>
        <fieldset>

            <h3>Informacion Flotilla de Camiones</h3>
                <div>
                    <label class="" for="codcamionBox" id="lblcod">Codigo Camion</label>


                    <div>
                        <input id="codcamionBox" name="codcamionBox" type="text" />
                        <button id="btnAceptar">Buscar</button>
                    </div>

                </div>
                <div>
                    <label class="" for="descBox" id="lbldesc">Descripcion</label>


                    <div>
                        <input id="descBox" name="descBox" type="text" />
                    </div>

                </div>
                <div>
                    <label class="" for="nombreBox" id="lblnombre">Nombre Corto</label>


                    <div>
                        <input id="nombreBox" name="nombreBox" type="text" />
                    </div>

                </div>
                <div>
                    <label class="" for="marcaBox" id="lblmarca">Marca</label>


                    <div>
                        <input id="marcaBox" name="marcaBox" type="text" />
                    </div>

                </div>
                <div>
                    <label class="" for="dateBox" id="codCamion">Fecha</label>


                    <div>
                        <input id="dateBox" name="dateBox" type="date" />
                    </div>

                </div>

                <div>
                    <label class="" for="dateBox" id="codCamion">Placa</label>


                    <div>
                        <input id="dateBox" name="dateBox" type="text" />
                    </div>

                </div>

                <div>
                    
                    <br>
                    <br>
                    <button id="btnEliminar">Eliminar</button>
                    <br>
                    <br>
                    <button id="btnCrear">Crear</button>




                </div>

           
        </fieldset>
        <br >
        <button id="btnSalida" onclick="location.href='Login.html'">Salir</button>
    </div>
</body>
</html>






