<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Clientes</title>
    <script src="Scripts/jquery-3.4.1.js"></script>
    <script src="Scripts/popper.min.js"></script>
    <script src="Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Tramesquirn S.A</h3>
            </div>
            <fieldset>

                <h3>Informacion de Clientes</h3>
                <div>
                    <label class="" for="codBox" id="lblcod">Codigo de Identificacion</label>


                    <div>
                        <input id="codBox" name="codBox" type="text" />
                        <button id="btnBuscar">Buscar</button>
                    </div>

                </div>
                <div>
                    <label class="" for="fechaBox" id="lblfecha">Fecha de Ingreso</label>


                    <div>
                        <input id="fechaBox" name="fechaBox" type="date" />
                    </div>

                </div>
                <div>
                    <label class="" for="identidadBox" id="lbliden">Documento de Identidad</label>


                    <div>
                        <input id="identidadBox" name="identidadBox" type="file" />
                    </div>

                </div>
                <div>
                    <label class="" for="ape1Box" id="lblape">Primer Apellido</label>


                    <div>
                        <input id="ape1Box" name="ape1Box" type="text" />
                    </div>

                </div>
                <div>
                    <label class="" for="ape2Box" id="lblape2">Segundo Apellido</label>


                    <div>
                        <input id="ape2Box" name="ape2Box" type="text" />
                    </div>

                </div>

                <div>
                    <label class="" for="nombreBox" id="lblnombre">Nombre</label>


                    <div>
                        <input id="nombreBox" name="nombreBox" type="text" />
                    </div>

                </div>
                <div>
                    <label class="" for="telcontBox" id="lbltelCont">Estado</label>


                    <div>
                        <input id="telcontBox" name="telcontBox" type="text" />
                    </div>

                </div>
                <div>
                    <label class="" for="telBox" id="lbltel">Telefonos</label>


                    <div>
                        <input id="telBox" name="telBox" type="text" />
                    </div>

                </div>
                <div>
                    <label class="" for="emailBox" id="lble">Correo electronico</label>


                    <div>
                        <input id="emailBox" name="emailBox" type="email" />
                    </div>

                </div>
                <div>
                    <label class="" for="direcBox" id="direcBox">Direccion</label>


                    <div>
                        <input style="height:100px" id="direcBox" name="direcBox" type="text" />
                    </div>

                </div>

                <div>

                    <br>
                    <br>
                    <button id="btnEliminar">Eliminar</button>
                    <br>
                    <br>
                    <button id="btnCrear">Crear</button>




                </div>


            </fieldset>
            <br>
            <button id="btnSalida" onclick="location.href='Login.html'">Salir</button>
    
    </div>
</body>
</html>