<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Entrada Inventario</title>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Tramesquirn S.A</h3>

                <fieldset>
                    <h4>Entrada de Inventario</h4>
                    <div>
                        <label class="" for="pedidoBox" id="lblcod">Orden de Pedido</label>


                        <div>
                            <input id="pedidoBox" name="pedidoBox" type="text" />
                            <button id="btnBuscar">Buscar</button>

                        </div>

                    </div>
                    <div>
                        <label class="" for="bodegaBox" id="lblbodega">Espacio en Bodega</label>


                        <div>
                            <input id="bodegaBox" name="bodegaBox" type="text" />
                        </div>

                    </div>
                    <div>
                        <label class="" for="detalleBox" id="lbldet">Monto del detalle</label>


                        <div>
                            <input id="detalleBox" name="detalleBox" type="" />
                        </div>

                    </div>
                    <div>
                        <label class="" for="materiaBox" id="lblmat">Materia Prima</label>


                        <div>
                            <input id="materiaBox" name="materiaBox" type="" />
                        </div>

                    </div>



                </fieldset>


            </div>
</body>
</html>