<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tipos Materia Prima</title>
    <script src="Scripts/jquery-3.4.1.js"></script>
    <script src="Scripts/popper.min.js"></script>
    <script src="Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Tramesquirn S.A</h3>
            </div>
            <fieldset>

                <h3>Informacion Tipos de Materia Prima</h3>
                <div>
                    <label class="" for="codtipomatBox" id="lblcod">Codigo Tipo Materia Prima</label>


                    <div>
                        <input id="codtipomatBox" name="codtipomatBox" type="text" />
                        <button id="btnBuscar">Buscar</button>
                    </div>

                </div>
                <div>
                    <label class="" for="descBox" id="lbldesc">Descripcion</label>


                    <div>
                        <input id="descBox" name="descBox" type="text"style="height:50px" />
                    </div>

                </div>
                
                <div>

                    <br>
                    <br>
                    <button id="btnEliminar">Eliminar</button>
                    <br>
                    <br>
                    <button id="btnCrear">Crear</button>




                </div>


            </fieldset>
            <br />
            <button id="btnSalida" onclick="location.href='Login.html'">Salir</button>
    
    </div>
</body>
</html>